page-ajustes {
  *{
    margin:0px;
    padding:0px;
}

//CABEZERA

 .contiene img{
   font-size: 30px;
   position:absolute;
   bottom: 1px;
   left:5px;
   padding-bottom: 5px;
  }

.chat{
   color:grey;
   font-size: 30px;

}

.contiene{
       padding-top: 5px;
       padding-bottom: -10px;
       height: 35px;
   
 }
 //FIN DE LA CABEZERA
 // FLECHA RETROCESO
.flecha{
  color :red;
  font-size: 30px;
  
 }
//-----FIN DE LA FLECHA

      //IMAGEN DE CLIENTE
      .circular {
        width: 90px;
        height: 90px;
        margin: 0 auto;
        border-radius: 50% ;
      }
     .circular img{
       width: 100%;
       height: 100%;
       border:4px solid red;
       }
       //BOTON AL LADOD E LA FOTO
      .but-ico{
        position: absolute;
       }

     .lapiz{
         font-size: 40px;
        right:10px;
        bottom:40px;
       color:grey;
      }
      //BOTON ELIMINAR 
      .but{
        margin:20px;
        height: 30px;
        width: 85%;
    }
   
//FIN DE BOTONES AL LADO DE LA FOTO

}
