<ion-header text-center  padding-top>
    <ion-toolbar>
    <div class="contiene">
        <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
        <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
         &nbsp;&nbsp;Centro ACU 10
        </span>
       <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
    </div>
    </ion-toolbar>
</ion-header>

  <ion-content padding>
    <ion-icon name="arrow-dropleft-circle-outline" name="arrow-dropleft-circle" class="flecha"  (click)="regresa()"></ion-icon>
    <ion-grid>
      <ion-row >
          <ion-col >
              <div class="circular">
                  <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
               </div>
          </ion-col>
      </ion-row>
       <ion-row style='margin-bottom:10px;' padding-top>
            <ion-col text-center>
                <ion-icon name="home" class='but-ico lapiz' ios="ios-create" md="md-create" (click)="modifica()"></ion-icon>
                <p style='margin-bottom:5px;font-weight:bold;'>NOMBRE CLIENTE</p>
                <p> Nº socio &nbsp;&nbsp; x años</p>

           </ion-col>
      </ion-row >
      <ion-row>
        <ion-col text-center>
            <button ion-button color="botones" class='but' (click)="eliminar()" round>ELIMINAR</button>
        </ion-col>
      </ion-row>
     
    </ion-grid>
  
  </ion-content>