page-home-admin {

    
    *{
        margin:0px;
        padding:0px;
    }

    //CABEZERA

     .contiene img{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:5px;
       padding-bottom: 5px;
      }

    .chat{
       color:grey;
       font-size: 30px;

    }

   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
       
     }
     //FIN DE LA CABEZERA


     //CONTENIDO
 
     
     .iconos{
        color:red;
        font-size:30px;
        
     }


      //  CAJA DE BUSQUEDA  
      .cajatexto{
        text-align: justify;
        outline: none;
        margin: 0 auto;
        width: 90%;
        height: 35px;
        padding-bottom: 3px;
        margin-left: 18px;
      background-color: #F9F7F6;
      
     
      border: 0.5px solid rgba(0,0,0,.25);
      border-radius: 62px 66px 62px 78px;
     box-shadow: 0px 2px rgba(0,0,0,.50);
    }
    
   
      .input_texto{
          margin-left:30px;
          margin-bottom:5px;
         padding: 5px;
          size:50px;
      }
      .iconBusca {
        position: absolute;
       pointer-events: none;
         bottom: 10px;
         right: 25px;
        font-size:25px;
      
      }
      

  // BOTONES DE BUSQUEDA

  .conteBoton{
         
    padding-left:30px;
}
     .but{
         text-decoration: none;
         height: 25px;
         font-size:12px;
         text-align: center;
         border-radius: 5px 5px 5px 5px;
        
       
       }

        //  *************PERSONA ENCONTRADA *********************


        .cajabuscador{
          background: red;
          padding:13px;
        
          color: WHITE;
          width: 230px;
          float:left;
          border-radius: 7px 7px 7px 7px;

         
        }
      .buscado{ // div caja buscado
   
  
        margin-right: 25px;
        
        
        width:60%;
        display: inline-block;
        padding-top: 8px;
        //height: 30px;
      
        //margin:0px  auto;
      } 


      .nombreuser{
      
        padding: 10px;
        font-weight: bold;
      }
      .num_edad{
        margin-right: 20px;
      }
      //SPAN BOTON BONO
      .bot_bono{

        padding: 10px 15px;
       
        border-radius: 5px 5px 5px 5px;
         position: absolute;
         background: grey;
         right:80px;
        bottom: 18px;
      }
       //IMAGEN
     .circular {
     position:absolute;
     right: 15PX;
     bottom: 8px;
     width: 45px;
     height: 45px;
   
    border-radius: 50% ;
    }

     .circular img{
   width: 100%;
   height: 100%;
   border:3px solid white;
 
     }
     //BOTON ESTADO : actual , y no viene , etc

     .estado{
       padding: 5px;
        background: green;
        position: absolute;
        right: 28px;
        bottom:58px;
        border-radius: 50% ;
     }

  
}
