<ion-header text-center  padding-top>
    <ion-toolbar>
  <div class="contiene">
      <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
      <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
       &nbsp;&nbsp;Centro ACU 10
      </span>
      
          <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
     
    </div>
    </ion-toolbar>
     
</ion-header>


<ion-content padding-top padding-top>

    <ion-grid>
      <ion-row  >
          <ion-col col-1 >
              <ion-icon name="ios-add-circle"  name="md-add-circle" (click)="proteccion()"  class="iconos"></ion-icon>
          </ion-col>
          <ion-col col-10 >
               
              <div class="cajatexto" >
                <ion-input  type="text" class="input_texto" [(ngModel)]="personabuscar" placeholder="Buscador ..."></ion-input>
                <ion-icon name="search" md="md-search" class="iconBusca" ></ion-icon>
              </div>
          </ion-col>
          <ion-col col-1  >
              <ion-icon ios="ios-calendar" md="md-calendar" (click)="calendario()" class="iconos"></ion-icon>
          </ion-col>
        </ion-row>

    <ion-row class="conteBoton" margin-top>
      <ion-col col-4>
          <button ion-button color="botones" (click)="buscamos()" text-center class="but" style="text-align:rigth;"> Buscar  </button>
      </ion-col>

       <ion-col col-8>
          <button ion-button color="botones" icon-end class="but" style="text-align:center;">
              Filtrar busqueda
              <ion-icon ios="ios-funnel" md="md-funnel" class="iconBusque"></ion-icon>
            </button>
       </ion-col>
       <ion-col  >
           <div class="cajabuscador"  (click)="aPerfilCliente()" >
                <span class="nombreuser"> CARLOS SOTO</span>
                <div  class="buscado"  >
                    <span class="num_edad"> Nº 720</span><span>56 años</span> 
                 </div>
                
                 <div class="circular" >
                        <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
                </div>
                <span class="estado"></span><!-- nos dira si esta activo ,frecuente, no viene -->
                
           </div>
           <span class="bot_bono" (click)="aBono()"> 0</span>
           <!-- se pone fuera para que no le afecte el click general -->
     </ion-col>

    </ion-row>
        
    </ion-grid>
</ion-content>
