<ion-header text-center  padding-top>
    <ion-toolbar>
    <div class="contiene">
        <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
        <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
         &nbsp;&nbsp;Centro ACU 10
        </span>
       <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
    </div>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
    <ion-grid margin-bottom>
        
        <ion-row >
          <ion-col col-12 text-center>
              <h6>Ley de Proteccion de Datos</h6>
          </ion-col>
         
            <ion-col col-12>
              <p text-justify>
                  La Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos privacidad personal y familiar.
                   Fue aprobada por las Cortes Generales el 13 de diciembre de 1999 y derogada con la entrada en 
                    General de Protección de Datos de la Unión Europea.
              </p>
            </ion-col>
          
        </ion-row>
      </ion-grid>
      <div >Firma :</div>
      <textarea style="margin:3px 0;" rows="7" cols="36"></textarea>
      <div style="text-align: right ;font-size:10px;">fecha : 25 abril 2019</div>
      <div  style="text-align: center ;margin-top:5px;">
          <button ion-button color="botones" class="but" (click)="registrar()" round>Continua</button>
      </div>
      
</ion-content>
