page-protec-dat-admin {
  *{
    margin:0px;
    padding:0px;
}

//CABEZERA

 .contiene img{
   font-size: 30px;
   position:absolute;
   bottom: 1px;
   left:5px;
   padding-bottom: 5px;
  }

.chat{
   color:grey;
   font-size: 30px;

}

.contiene{
       padding-top: 5px;
       padding-bottom: -10px;
       height: 35px;
   
 }
 //FIN DE LA CABEZERA
 // FLECHA RETROCESO
.flecha{
  color :red;
  font-size: 30px;
 }
//-----FIN DE LA FLECHA


     // BOTON  FINAL
   .but{
        
        text-decoration: none;
       width:130px;
       height:35px;
       
        color: #ffffff;
       /* background-color:#9c3535;pondre color en theme/variables.css*/
        border-radius: 62px 66px 62px 78px;
      }


}
