page-cliente-bono {
  *{
    margin:0px;
    padding:0px;
}

//CABEZERA

 .contiene img{
   font-size: 30px;
   position:absolute;
   bottom: 1px;
   left:5px;
   padding-bottom: 5px;
  }

.chat{
   color:grey;
   font-size: 30px;

}

.contiene{
       padding-top: 5px;
       padding-bottom: -10px;
       height: 35px;
   
 }
 //FIN DE LA CABEZERA
 // FLECHA RETROCESO
.flecha{
  color :red;
  font-size: 30px;
 }
//-----FIN DE LA FLECHA

      //IMAGEN DE CLIENTE
      .circular {
        width: 90px;
        height: 90px;
        margin: 0 auto;
        border-radius: 50% ;
      }
     .circular img{
       width: 100%;
       height: 100%;
       border:4px solid red;
       }
       //BOTONES AL LADOD E LA FOTO
      .but-ico{
        position: absolute;
        font-size: 40px;
        right:10px;
        bottom:40px;
       color:grey;
       }

   // numero de bono
   .bot_bono{

    padding: 10px 15px;
   
    border-radius: 5px 5px 5px 5px;
     position: absolute;
     background: grey;
     left: 10px;
    bottom: 40px;
  } // fin numero de bono
//FIN DE BOTONES AL LADO DE LA FOTO



//CONTENDIO
.centrar{
    padding-left:45px; 
}
.fila_abajo{

 border-bottom: 0.5px solid grey;
}
.fila_lado{
  border-right:  0.5px solid grey;
}

// CAJAS DE TEXTO
.cajatexto{
    text-align: justify;
    outline: none;
    margin: 0 auto;
    height: 40px;
    padding-bottom: 3px;
   //   background-color: #F9F7F6;
  
 
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 10px 10px 10px 10px;
 box-shadow: 0px 2px rgba(0,0,0,.50);
}

.input_texto{
    margin-left:10px;
    margin-bottom:5px;
    //padding: 5px;
   //size:20px;
   text-align: center;
   height: 25PX;

}
.euro{
    font-weight:bold;
    font-size: 20px;

    position: absolute;
    right: -5px;
    bottom: 10px;
}
//FINDE CAJAS DE TEXTO


     //BOTON DE ABONAR
     .but{
        
        text-decoration: none;
       width:130px;
       height:35px;
       margin-top:15px;
        color: #ffffff;
        border-radius: 62px 66px 62px 78px;
      }
      //BOTON DE IMPRESORA
      .butImpreso{
        border:1px solid grey;
        border-radius: 10px 10px 10px 10px;
        margin-left:150px;
        margin-top:20px;
      
       }

}
