<ion-header text-center  padding-top>
  <ion-toolbar>
  <div class="contiene">
      <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
      <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
       &nbsp;&nbsp;Centro ACU 10
      </span>
     <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
  <ion-grid>
   <ion-row >
        <ion-col >
            <div class="circular">
                <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
             </div>
        </ion-col>
    </ion-row>
    <ion-row style='margin-bottom:10px;' padding-top>
          <ion-col text-center>
              
              <ion-icon  class='but-ico' ios="ios-create" md="md-create" (click)="modifica()"></ion-icon>
             
              <p style='margin-bottom:5px;font-weight:bold;'>NOMBRE CLIENTE</p>
              <p> Nº socio &nbsp;&nbsp; x años</p>
          
              <span class="bot_bono" > 0</span>
            
         </ion-col>
    </ion-row >

    <ion-row class="centrar">
      
          <ion-col col-5 text-center class="fila_abajo fila_lado" >
              Cantidad
              </ion-col>
              <ion-col col-5 text-center class="fila_abajo">
              Valor
            </ion-col>
     
    
    </ion-row>
    <ion-row class="centrar" >
      <ion-col col-5 class="fila_lado" >
          <div class="cajatexto" style="width:50%;">
             <ion-input type="text"   class="input_texto"  ></ion-input>
          </div>
       </ion-col>
       <ion-col col-5>
          <div class="cajatexto" style="width:80%;">
              <ion-input type="text"   class="input_texto"  ></ion-input>
           </div>
          <p class="euro">€</p> 
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col text-center>
        <button ion-button color="botones" class="but" (click)=" abonar()" round>abonar</button>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col text-center margin-top>
        <button ion-button color="light" class="butImpreso" ><ion-icon ios="ios-print-outline" md="md-print"></ion-icon></button>
      </ion-col>
    </ion-row>

 </ion-grid>
  
</ion-content>