<ion-header>
    <style>
        .transparente{
            opacity: 0.5;
            background: red;
        
        }

        .acredi{
          position: absolute;
          color: white;
          top: 330px;
          left:40px;
        font-weight: bold;
        font-size: 25px;
        }
     
           .circulo{
            position: absolute;
            border: 8px solid white;
            border-radius: 50%;
            width: 150px;
            padding: 20px;
            top:150px;
            left:80px;
            text-align: center;
           }           
         .check{
            
             font-size: 70px;
              color:white;
         }
         .cerrar{
            position: absolute;
            font-size: 30px;
            color:white;
            right:45px;
            top: 100px;
         }
    </style>
 </ion-header>
      <ion-content class="transparente">
      </ion-content>
      <div class="circulo">
          <div class="check">&#10004;</div>
      </div>
      <div  class="acredi">BONO ACREDITADO</div>
      <ion-icon ios="ios-close-circle" md="md-close-circle"  (click)="dismiss()"  class='cerrar'></ion-icon>