<ion-header text-center  padding-top>
      <ion-toolbar>
        <div class="contiene">
              <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
              <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
               &nbsp;&nbsp;Centro ACU 10
              </span>
             <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
        </div>
      </ion-toolbar>
  </ion-header>

<ion-content padding margin-top >
  <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
  <h4 text-center>GESTION DE CITAS</h4>
  <ion-grid margin-top text-center>
     <ion-row >
        <ion-col col-12>
            <div  style="text-align: center;"><img src="./../../assets/imgs/logo.JPG" alt=""></div>
        </ion-col>
    </ion-row>  
    <ion-row  margin-top>
       <ion-col>
             <button ion-button  (click)="historicoCitas()" class="bot bot_historyCitas"> </button>
       </ion-col>
       <ion-col>
             <button ion-button  (click)="irNuevaCita()" class="bot bot_nuevacita"> </button>
       </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>