   <ion-tabs >
        <ion-tab  color="botones" [root]="tab1" tabIcon="home"></ion-tab>
        <ion-tab  [root]="tab2" tabIcon="compass"></ion-tab>
        <ion-tab [root]="tab3" tabIcon="logo-angular"></ion-tab>
        <ion-tab  [root]="tab4" tabIcon="baseball"></ion-tab>
        <ion-tab [root]="tab5" tabIcon="bicycle"></ion-tab>
   </ion-tabs>
                        

