page-registra-cliente {
    
    *{
        margin:0px;
        padding:0px;
    }
    
    //CABEZERA
    
     .contiene img{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:5px;
       padding-bottom: 5px;
      }
    
    .chat{
       color:grey;
       font-size: 30px;
    
    }
    
    .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
       
     }
     //FIN DE LA CABEZERA
     // FLECHA RETROCESO
    .flecha{
      color :red;
      font-size: 30px;
     }
    //-----FIN DE LA FLECHA

               /*.....  CONTENIDO  ........*/

          
.contenedor{
    width: 95%;
    
    margin: 0 auto;
   
   }
   
   .icon_retrocede{
     
       color:red;
       height: 30px;
       width: 30px;
   }
   
  
   //IMAGEN
   .circular {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50% ;
   }
    
   .circular img{
       width: 100%;
       height: 100%;
       border-radius: 50%;
   }
   //FIN DE IMAGEN
   .cajatexto{
       /* #F9F7F6*/
       outline: none;
       margin: 0 auto;
       width: 100%;
       height: 25px;
    
       border: 0.5px solid rgba(0,0,0,.25);
       border-radius: 62px 66px 62px 78px;
    
     border: 0.5px solid rgba(0,0,0,.25);
       border-radius: 62px 66px 62px 78px;
     box-shadow: 0px 2px rgba(0,0,0,.50);
     padding-bottom: 5px;
     
   }
   
   .inputexto{
      height: 15px;
    
     margin-left:7px;
     bottom:5px;
     
   }
   
 
   
   .but{
       
       text-decoration: none;
       
       font-size: 13px;
       color: #ffffff;
       background-color:#9c3535;
       border-radius: 62px 66px 62px 78px;
     
   }








}
