<ion-header text-center  padding-top>
        <ion-toolbar>
        <div class="contiene">
            <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
            <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
             &nbsp;&nbsp;Centro ACU 10
            </span>
           <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
        </div>
        </ion-toolbar>
      </ion-header>

<ion-content padding>
      <ion-grid>
         <ion-row >
            <ion-col >
                    <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
                <div class="circular">
                    <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
                 </div>
            </ion-col>
          </ion-row>
          <ion-row margin-top >
              <ion-col >
                   <div class="cajatexto">
                        <ion-input  type="text" class="inputexto" placeholder="nombre y apellido"></ion-input>
                   </div>    
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col col-7>
                <div class="cajatexto">
                    <ion-input  type="text"  class="inputexto" placeholder="fecha nacimiento"></ion-input>
                    <ion-input  type="date" style="width:100px;" class="inputexto" placeholder="fecha nacimiento" hidden="hidden"></ion-input>
                  </div> 
            </ion-col>
            <ion-col col-5>
                <div class="cajatexto">
                    <ion-input  type="text" class="inputexto" placeholder="ciudad"></ion-input>
               </div> 
            </ion-col>
          </ion-row>
          <ion-row >
              <ion-col >
                  <div class="cajatexto">
                      <ion-input  type="text" class="inputexto" placeholder="correo"></ion-input>
                 </div> 
              </ion-col>
            </ion-row>
            <ion-row >
                <ion-col >
                    <div class="cajatexto">
                        <ion-input  type="text" class="inputexto" placeholder="telefono"></ion-input>
                   </div> 
                </ion-col>
              </ion-row>
              <ion-row >
                  <ion-col >
                      <div class="cajatexto">
                          <ion-input  type="text" class="inputexto" placeholder="profesion"></ion-input>
                     </div> 
                  </ion-col>
                </ion-row>
                <ion-row >
                    <ion-col >
                        <div class="cajatexto">
                            <ion-input  type="text" class="inputexto" placeholder="motivo de consulta"></ion-input>
                       </div> 
                    </ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col >
                          <div class="cajatexto">
                              <ion-input  type="text" class="inputexto"   placeholder="referencia"></ion-input>
                         </div> 
                      </ion-col>
                    </ion-row>
                    <ion-row style="text-align: right;" padding-top >
                        <ion-col >
                            <button ion-button class="but" (click)="irPerfil()" round>Registrar
                          <!-- <ion-icon name="arrow-round-forward" style="color:white;"></ion-icon> -->
                            </button>
                        </ion-col>
                     </ion-row>
        </ion-grid>
     
 
</ion-content>