<ion-header text-center  padding-top>
        <ion-toolbar>
        <div class="contiene">
            <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
            <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
             &nbsp;&nbsp;Centro ACU 10
            </span>
           <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
        </div>
        </ion-toolbar>
 </ion-header>

<ion-content padding>
     <ion-grid>
        <ion-row >
          <ion-col>
                <ion-icon name="arrow-dropleft-circle-outline" name="arrow-dropleft-circle" class="flecha"  (click)="regresa()"></ion-icon>
                <div class="circular">
                  <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
               </div>
          </ion-col>
        </ion-row>
        <ion-row style='margin-bottom:10px;'>
            <ion-col text-center>
                
                <ion-icon  class='but-ico' ios="ios-create" md="md-create" (click)="modifica()"></ion-icon>
               
                <p style='margin-bottom:5px;font-weight:bold;'>NOMBRE CLIENTE</p>
                <p> Nº socio &nbsp;&nbsp; x años</p>
            
                <span class="bot_bono" (click)="aBono()"> 0</span>
              
           </ion-col>
          </ion-row >


     <ion-row >
       <ion-col col-4>
            <button ion-button  (click)="irHistoryClinico()" class="bot bot_irHistoryClinico">
            </button>
       </ion-col>
       <ion-col col-4>
          <button ion-button  (click)="irSeguimiento()" class="bot bot_seguimiento">
          </button>
       </ion-col>
       <ion-col col-4>
            <button ion-button  (click)="irEvaluacion()" class="bot bot_evaluacion">
                </button>
       </ion-col>
     </ion-row>
       <!-- siguientes botones  -->
       <ion-row>
        <ion-col col-4>
                <button ion-button  (click)="irajustes()" class="bot bot_irajustes">
                 </button>
        </ion-col>
        <ion-col col-4>
            <button ion-button  (click)="irGestionCitas()" class="bot bot_irGestionCitas">
            </button>
        </ion-col>
        <ion-col col-4>
                <button ion-button  (click)="irAgenda()" class="bot bot_agenda">
                    </button>
           
        </ion-col>
      </ion-row>

    </ion-grid>
   
        
        <button ion-button color="botones" class="but" (click)=" irbonoCitas()" round>Bono de Datos</button>
        <button ion-button color="light" class="butImpreso" ><ion-icon ios="ios-print-outline" md="md-print"></ion-icon></button>
 
  
</ion-content>
