page-cliente-perfil {
   *{
      margin:0px;
      padding:0px;
  }
  
  //CABEZERA
  
   .contiene img{
     font-size: 30px;
     position:absolute;
     bottom: 1px;
     left:5px;
     padding-bottom: 5px;
    }
  
  .chat{
     color:grey;
     font-size: 30px;
  
  }
  
  .contiene{
         padding-top: 5px;
         padding-bottom: -10px;
         height: 35px;
     
   }
   //FIN DE LA CABEZERA
   // FLECHA RETROCESO
  .flecha{
    color :red;
    font-size: 30px;
    top:-5px;
    position: absolute;
   }
  //-----FIN DE LA FLECHA

  // numero de bono
  .bot_bono{

   padding: 10px 15px;
  
   border-radius: 5px 5px 5px 5px;
    position: absolute;
    background: grey;
    left: 10px;
   bottom: 40px;
 } // fin numero de bono

   //IMAGEN
   .circular {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
    border-radius: 50% ;
}

.circular img{
   width: 100%;
   height: 100%;
   border:4px solid red;
 
}
//FIN DE IMAGEN

//BOTONES AL LADOD E LA FOTO
.but-ico{

     position: absolute;
     font-size: 40px;
     right:10px;
     bottom:40px;
     color:grey;
}


//FIN DE BOTONES AL LADO DE LA FOTO

     //BOTONES
     .boton{
        
       width: 70px;
        height: 90px;
       
    }
    .iconoBoton{
       font-size: 50px;
       display: block;
      margin: 0 auto;
    
      
    }
    .textoBoton{
        color:white;
        position: absolute;
        
        bottom: 8px;
    } 
    
    .bot{
        
         width: 70px;
          height: 90px;
         background:red;
         
      }

      .bot_irHistoryClinico{
        background-image: url("../../assets/imgs/bot_cliente_perfil/historialclinico.png");
        background-size: cover; 
     }
     .bot_seguimiento{
        background-image: url("../../assets/imgs/bot_cliente_perfil/seguimiento.png");
        background-size: cover;
     }
     .bot_evaluacion{
      background-image: url("../../assets/imgs/bot_cliente_perfil/evaluciondietetica.png");
      background-size: cover;
   }

     .bot_irajustes{
      background-image: url("../../assets/imgs/bot_cliente_perfil/ajustes.png");
      background-size: cover;
   }

     .bot_irGestionCitas{
        background-image: url("../../assets/imgs/bot_cliente_perfil/gestioncitas.png");
        background-size: cover;
     }

    .bot_agenda{
      background-image: url("../../assets/imgs/bot_cliente_perfil/agenda.png");
      background-size: cover;
   }
    
    //FIN DE BOTONES

    //BOTON  BONOS
    .but{
        
        text-decoration: none;
       width:130px;
       height:35px;
       
        color: #ffffff;
       /* background-color:#9c3535;pondre color en theme/variables.css*/
        border-radius: 62px 66px 62px 78px;
      }
    
    //BOTON IMPRESORA
    .butImpreso{
     border:1px solid grey;
     border-radius: 10px 10px 10px 10px;
     margin-left:70px;
   
    }

}
