<!--
  Generated template for the GraficosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>graficos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
    <ion-card-header>
   Bar Chart
    </ion-card-header>
    <ion-card-content>
       <canvas  #barCanvas></canvas>
    </ion-card-content>
       <ion-card-header>
           Linea Chart
       </ion-card-header>
       <ion-card-content>
          <canvas  #lineCanvas></canvas>
       </ion-card-content>
 
</ion-content>
