page-cliente-seguimiento {
   *{
      margin:0px;
      padding:0px;
  }
  
  //CABEZERA
  
   .contiene img{
     font-size: 30px;
     position:absolute;
     bottom: 1px;
     left:5px;
     padding-bottom: 5px;
    }
  
  .chat{
     color:grey;
     font-size: 30px;
  
  }
  
  .contiene{
         padding-top: 5px;
         padding-bottom: -10px;
         height: 35px;
     
   }
   //FIN DE LA CABEZERA
   // FLECHA RETROCESO
  .flecha{
    color :red;
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 1px;
   }
  //-----FIN DE LA FLECHA

     //BOTONES
     .bot{
        
        width: 100px;
         height: 120px;
        background:red;
        background-size: cover;
        
     }

    .bot_peso{
       background-image: url("../../assets/imgs/bot_cliente_seguimiento/peso.png");
    }
    .bot_ejercicio{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/ejercicio.png");
     }
     .bot_diario{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/diario.png");
     }
     .bot_cita{
         background-image: url("../../assets/imgs/bot_cliente_seguimiento/gestioncitas.png");
      }
}
