<ion-header text-center  padding-top>
            <ion-toolbar>
            <div class="contiene">
                <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
                <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
                 &nbsp;&nbsp;Centro ACU 10
                </span>
               <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
            </div>
            </ion-toolbar>
</ion-header>

<ion-content padding margin-top text-center>
            <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
    <h4>SEGUIMIENTO</h4>
    <ion-grid margin-top>
      <ion-row margin-top>
         <ion-col>
               <button ion-button  (click)="irMipeso()" class="bot bot_peso"> </button>
         </ion-col>
         <ion-col>
               <button ion-button  (click)="irMiejercicio()" class="bot bot_ejercicio"> </button>
         </ion-col>
      </ion-row>
      <ion-row margin-top>
            <ion-col>
                  <button ion-button  (click)="irMidiario()" class="bot bot_diario"> </button>
            </ion-col>
            <ion-col>
                  <button ion-button  (click)="  irGestioncita()" class="bot bot_cita"> </button>
            </ion-col>
         </ion-row>
   
    </ion-grid>
</ion-content>
