page-history-clinico {
    *{
        margin:0px;
        padding:0px;
    }
    
    //CABEZERA
    
     .contiene img{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:5px;
       padding-bottom: 5px;
      }
    
    .chat{
       color:grey;
       font-size: 30px;
    
    }
    
    .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
       
     }
     //FIN DE LA CABEZERA
     // FLECHA RETROCESO
    .flecha{
      color :red;
      font-size: 30px;
     /* top:-5px;
      position: absolute;*/
     }
    //-----FIN DE LA FLECHA

       /*.....  CONTENIDO  ........*/

  
.contenedor{
width: 95%;

margin: 0 auto;

}

.titulo{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    color:red;
}

//IMAGEN
.circular {
width: 80px;
height: 80px;
margin: 0 auto;
border-radius: 50% ;
}

.circular img{
width: 100%;
height: 100%;
border-radius: 50%;
}
//FIN DE IMAGEN

//CAJA DE TEXTO GENERAL 

.cajatexto{

outline: none;
margin: 0 auto;
width: 100%;
height: 25px;

border: 0.8px solid rgba(0,0,0,.25);
border-radius: 62px 66px 62px 78px;
box-shadow: 0px 2px rgba(0,0,0,.50);

padding-left: 10px;
padding-top: 3px;
}

.inputexto{
height: 10px;
margin-left:7px;
bottom:10px;

}



.but{

text-decoration: none;

font-size: 13px;
color: #ffffff;
background-color:#9c3535;
border-radius: 62px 66px 62px 78px;

 }
 .padece{
     font-size: 15px;
     margin-right: 20px;
     margin-left:10px;
 }


}
