<ion-header text-center  padding-top>
        <ion-toolbar>
        <div class="contiene">
            <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
            <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
             &nbsp;&nbsp;Centro ACU 10
            </span>
           <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
        </div>
        </ion-toolbar>
 </ion-header>

<ion-content padding>
    <ion-icon name="arrow-dropleft-circle-outline" name="arrow-dropleft-circle" class="flecha"  (click)="regresa()"></ion-icon>
    <div class="titulo">HISTORIAL CLINICO</div>
    <ion-grid>
       <ion-row  text-center >
           <ion-col col-4 >
               <div style="color:red ;margin-top:15px;" >
                  Nº Historia
               </div>
               <div class="cajatexto" style="width:55px;"><!-- se le pone estilo propio para no afectar alos demas div-->
                  <ion-input  type="text"  class="inputexto" ></ion-input>
               </div> 
           </ion-col>
           <ion-col col-4 >
                <div class="circular">
                    <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
                 </div>
           </ion-col>
           <ion-col col-4>
                 <div style="color:red; margin-top:15px;">
                   fecha </div>
                   <div class="cajatexto" style="width:55px;">
                        <ion-input  type="text" class="inputexto" ></ion-input>
                   </div>  
           </ion-col>
       </ion-row>
       <ion-row  >
              <ion-col text-center style="color:red;"> Datos </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <div class="cajatexto">  nombre y apellido  </div> 
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-7>
                <div class="cajatexto"> fecha nacimiento </div> 
            </ion-col>
            <ion-col col-5>
                    <div class="cajatexto"> ciudad </div> 
            </ion-col>
        </ion-row>
        <ion-row >
                <ion-col col-12>
                        <div class="cajatexto">  correo </div> 
                </ion-col>
                <ion-col col-12>
                        <div class="cajatexto">  telefono </div> 
                </ion-col>
                <ion-col col-12>
                        <div class="cajatexto">  profesion  </div> 
                </ion-col>
                <ion-col col-12>
                        <div class="cajatexto">  motivo de consulta  </div> 
                </ion-col>
       </ion-row>
       <ion-row >
                 <ion-col text-center style="color:red;">Antecedentes</ion-col>
       </ion-row>
       <ion-row >
                  <ion-col >
                      <div>Intervensiones : </div>
                      <div class="cajatexto">
                          <ion-input  type="text" class="inputexto" placeholder=""></ion-input>
                     </div> 
                  </ion-col>
        </ion-row>
        <ion-row >
                    <ion-col >
                       <div>Enfermedades Anteriores  : </div>
                        <div class="cajatexto" >
                            <ion-input  type="text" class="inputexto"  placeholder=""></ion-input>
                       </div> 
                    </ion-col>
         </ion-row>
         <ion-row >
                <ion-col >
                   <div style="margin-bottom:5px;">Seleccione solo si Padece   : </div>
                 
                    <span class='padece'> Diabetes<ion-checkbox [(ngModel)]="diabetes" ></ion-checkbox> </span>
                    <span class='padece'> Cardiopatia<ion-checkbox [(ngModel)]="cardiopatia"  ></ion-checkbox></span>
                    <br><span class='padece'> Obesidad<ion-checkbox [(ngModel)]="obesidad"  ></ion-checkbox></span>   
                    
                   
                </ion-col>
     </ion-row>
       
         <ion-row style="text-align:center;" padding-top >
                        <ion-col >
                            <button ion-button class="but" (click)="confirma()" round>Confirmar
                          <!-- <ion-icon name="arrow-round-forward" style="color:white;"></ion-icon> -->
                            </button>
                        </ion-col>
         </ion-row>
     </ion-grid>
     
</ion-content>