page-cliente-home {
     //CABEZERA
   
   .circular {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50% ;
    display: inline-flex;
}

.circular img{
   width: 100%;
   height: 100%;
   border:2px solid black;
}


    .chat{
       color:grey;
       font-size: 30px;
    

    }

   .contiene{ // engloba todos los componentes del header
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;

     } // FIN DE CABECERA


      .diagramaPeso{
         height: 190px;
         border:1px solid red;
      }
}
