
<ion-header text-center  padding-top>
    <ion-toolbar>
       <div class="contiene">
          <div class="circular">
              <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
          </div>
          <span  style="padding-left:48px;padding-right:48px;font-size: 20px;">
           Centro  ACU 10 </span>
         <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
       </div>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
         <ion-row >
           <ion-col  (click)="irCalendario()">
              <div class="cita">
                  <img   class="cita" src="./../../assets/imgs/tabs/citaroja.png" >
               </div>
          </ion-col>
        </ion-row>
        <ion-row >
            <ion-col (click)="irEjercicios()" >
               <div class="cita">
                   <img   class="cita" src="./../../assets/imgs/tabs/pesagris.png" >
                </div>
           </ion-col>
         </ion-row>
         <ion-row >
            <ion-col >
               <div class="diagramaPeso">
                   
                </div>
           </ion-col>
         </ion-row>
      </ion-grid>
  </ion-content>