page-login-admin {
 
   
    ion-col{
      text-align: center;
    }
    
    .subtitulo{
     
      font-weight: bold;
      
    }
    
    
    .but{
        
            text-decoration: none;
           width:130px;
           height:35px;
           
            color: #ffffff;
           /* background-color:#9c3535;pondre color en theme/variables.css*/
            border-radius: 62px 66px 62px 78px;
            -moz-border-radius: 62px 66px 62px 78px;
            -webkit-border-radius: 62px 66px 62px 78px;
       
    }
     
    
    .cajatexto{
        text-align: justify;
        outline: none;
        margin: 0 auto;
        width: 90%;
        height: 35px;
        padding-bottom: 3px;
      background-color: #F9F7F6;
      
     
      border: 0.5px solid rgba(0,0,0,.25);
      border-radius: 62px 66px 62px 78px;
     box-shadow: 0px 2px rgba(0,0,0,.50);
    }
    
    
    
    .iconocaja {
        position: absolute;
        padding: 8px;
        pointer-events: none;
        padding-bottom: 4px;
      }
      
      .input_texto{
          margin-left:30px;
          margin-bottom:5px;
         padding: 5px;
          size:50px;
      }
     

}
