<ion-header>
  <ion-toolbar>
    <ion-title>
    
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content  padding >
   
   <ion-grid>
    <ion-row  >
       <ion-col  > <img src="./../../assets/imgs/logo.JPG" alt=""></ion-col>
    </ion-row>
    <ion-row>
       <ion-col  > <h3 class="subtitulo">Centro<br>Acu 10</h3></ion-col>
    </ion-row>
  
    <ion-row>
       <ion-col>
          
          
                 <div class="cajatexto">
                  <ion-icon name="mail-outline" class="iconocaja" ></ion-icon>
                  <ion-input type="text"   class="input_texto" placeholder="  email" ></ion-input>
                </div>
                  
                   <div class="cajatexto" margin-top>
                   <ion-icon name="lock-outline" class="iconocaja"></ion-icon>
                   <ion-input  type="password" class="input_texto" placeholder="  contraseña"></ion-input>
                  </div>
  
       
        </ion-col>
    </ion-row>
    <ion-row class="filas">
        <ion-col>¿olvido su contraseña ?  <span style="color:red; font-style: italic;">click aqui</span></ion-col>
     </ion-row>
     <ion-row padding-top>
        <ion-col >
            <button ion-button color="botones" class="but" (click)="aHomeAdmin()" round>Acceder</button>
        </ion-col>
        <ion-col >
            <button ion-button color="botones" class="but" (click)="aTabs()" round>Acceder Usuario</button>
        </ion-col>
     </ion-row>
  
    </ion-grid>
</ion-content>