page-cliente-dieta-actual {
    *{
        margin:0px;
        padding:0px;
    }

    //CABEZERA
   
   .circular {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50% ;
    display: inline-flex;
}

.circular img{
   width: 100%;
   height: 100%;
   border:2px solid black;
}

    .chat{
       color:grey;
       font-size: 30px;
    

    }

   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;

     } // FIN DE CABECERA

     .titulo{
        background: #D01B1B;
        color:white;
        font-size: 20px;
        margin:10px auto;
        width: 80%;
        padding: 2px;
        border: 1px solid rgba(0,0,0,.25);
        border-radius: 50px 50px 50px 50px;
        box-shadow: 0px 3px rgba(0,0,0,.50);
    }
  
    //TEXTO COMIDA Y CENA EN ROJO
    .rojitas{
       color:red;
    }


}
