<ion-header text-center  padding-top>
    <ion-toolbar>
       <div class="contiene">
          <div class="circular">
              <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
          </div>
          <span  style="padding-left:48px;padding-right:48px;font-size: 20px;">
           Centro  ACU 10 </span>
         <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
       </div>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-content padding>
          
        <div text-center  class='titulo' > DIETA ACTUAL</div>
       
                <ion-item-group>
                    <ion-item-divider color="light" style="font-weight: bold">Desayuno</ion-item-divider>
                    <p>1.-Incluye café, te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                    <p>2.-Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
                </ion-item-group>
         
                <ion-item-group>
                    <ion-item-divider color="light" style="font-weight: bold">Lunes</ion-item-divider>
                    <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                    <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
                </ion-item-group>
    
                <ion-item-group>
                    <ion-item-divider color="light" style="font-weight: bold">Martes</ion-item-divider>
                    <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                    <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
                </ion-item-group>
    
                <ion-item-group>
                    <ion-item-divider color="light" style="font-weight: bold">Miercoles</ion-item-divider>
                    <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                    <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
                </ion-item-group>
    
                <ion-item-group>
                    <ion-item-divider color="light" style="font-weight: bold">Jueves</ion-item-divider>
                    <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                    <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
                </ion-item-group>
    
                <ion-item-group>
                    <ion-item-divider color="light" style="font-weight: bold">Viernes</ion-item-divider>
                    <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                    <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
                </ion-item-group>
    
                <ion-item-group>
                    <ion-item-divider color="light" style="font-weight: bold">Sabado</ion-item-divider>
                    <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                    <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
                </ion-item-group>
    
                <ion-item-group>
                    <ion-item-divider color="light" style="font-weight: bold">Domingo</ion-item-divider>
                    <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                    <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
                </ion-item-group>
    
          
    </ion-content>
</ion-content>
