<ion-header text-center  padding-top>
        <ion-toolbar>
          <div class="contiene">
                <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
                <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
                 &nbsp;&nbsp;Centro ACU 10
                </span>
               <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
          </div>
        </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
    <div class="titulo">
        <h2>FECHA DE CITAS</h2>
    </div>
    <div  text-center class='mes' >Febrero</div>
    <div class="diahora" ><span style="margin-left: 10px;">Martes</span><span style="margin-left: 70px;">7/11/2019</span></div>
    
    <div  text-center class='mes' >Junio</div>
    <div class="diahora" ><span style="margin-left: 10px;">Martes</span><span style="margin-left: 70px;">7/11/2019</span></div>
</ion-content>
