<style>
  
        .cierra{
            color:red;
           margin-left:190px;
           margin-top: 10px;
           font-size:20px;
           
           }
    /* para caja de texto */
    .cajatexto{
         width: 60%;
         outline: none;
         margin: 0 auto;
         height: 30px;
         padding-bottom: 8px;
        
        border: 1px solid rgba(0,0,0,.25);
        border-radius: 10px 10px 10px 10px;
       box-shadow: 0px 2px rgba(0,0,0,.50);
     }
     
     .input_texto{
      
      padding-left:14px;
        height: 15PX;
        font-size: 10px;
        text-align: right;
     }
     /*  fin de para caja de texto*/

    .dias{
         margin-right: 8px;
  
     }
     .dia_circular{
         background:red;
         color:white;
         border-radius: 50%;
         padding:2px 7px;
     }
     /* caja de texarea*/
     .caja{
        border-radius: 10px 10px 10px 10px;
     }

     /* boton */
     .but{
        margin-top:20px;
        height: 30px;
        width: 85%;
    }

</style>

<ion-header>
 </ion-header>

<ion-content   text-center>
  <ion-icon    name="close-circle" class="cierra" (click)="cierra()"></ion-icon>
  <ion-grid>
       <ion-row>
        
        <ion-col text-center style="font-weight: bold;color:red;">HORA </ion-col> 
      </ion-row>
      <ion-row> 
        <ion-col >Mie, 17 / 01 / 2018 </ion-col> 
      </ion-row>
      <ion-row>
          <ion-col col-12>
               <div class="cajatexto" >
                  <ion-input type="text"   class="input_texto" ></ion-input>
               </div>
            </ion-col>
      </ion-row>
      <ion-row>
            <ion-col col-12>
                 <textarea class="caja" cols="30" rows="3" ></textarea>
              </ion-col>
        </ion-row>
       <ion-row>
           <ion-col text-center>
               <button ion-button color="botones"  style="width:30%;"class='but' (click)="confirma()" round>Aceptar</button>
            </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
