<ion-header text-center  padding-top>
    <ion-toolbar>
      <div class="contiene">
            <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
            <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
             &nbsp;&nbsp;Centro ACU 10
            </span>
           <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
      </div>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
    <ion-grid>
            <ion-row text-center >
                 <ion-col col-12>
                      <h4>MI CALENDARIO</h4> 
                 </ion-col>
                 <ion-col col-12>
                    <button ion-button color="botones" class="but" (click)="agregaHora()" round>agrega hora</button>
               </ion-col>
           </ion-row>
    </ion-grid>
  </ion-content>
