// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* ::-webkit-scrollbar{
    display: none;
}

.custom-popover .popover-content {
    width: 80%;
    top: 70px;
    left: 30px;
    bottom: 70px;
    height:250px;
  }

 
  .popover-ejercicio .popover-content {
    width: 90%;
    margin-left: 13px;
  margin-top:70px;
  }

  
  .popover-calendario .popover-content {
    width: 90%;
    margin-left: 13px;
    margin-top:10px;
  }