<ion-header text-center  padding-top>
        <ion-toolbar>
          <div class="contiene">
                <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
                <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
                 &nbsp;&nbsp;Centro ACU 10
                </span>
               <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
          </div>
        </ion-toolbar>
    </ion-header>
<ion-content padding>
    <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
    <div text-center  class='titulo' > Menú</div>
    <ion-item-group>
                <ion-item-divider color="light" style="font-weight: bold">Desayuno</ion-item-divider>
                <p>1.-Incluye café, te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                <p>2.-Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
    </ion-item-group>
     
    <ion-item-group>
                <ion-item-divider color="light" style="font-weight: bold">Lunes</ion-item-divider>
                <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
    </ion-item-group>

    <ion-item-group>
                <ion-item-divider color="light" style="font-weight: bold">Martes</ion-item-divider>
                <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
    </ion-item-group>

    <ion-item-group>
                <ion-item-divider color="light" style="font-weight: bold">Miercoles</ion-item-divider>
                <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
    </ion-item-group>

    <ion-item-group>
                <ion-item-divider color="light" style="font-weight: bold">Jueves</ion-item-divider>
                <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
    </ion-item-group>

    <ion-item-group>
                <ion-item-divider color="light" style="font-weight: bold">Viernes</ion-item-divider>
                <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
    </ion-item-group>

     <ion-item-group>
                <ion-item-divider color="light" style="font-weight: bold">Sabado</ion-item-divider>
                <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
    </ion-item-group>

    <ion-item-group>
                <ion-item-divider color="light" style="font-weight: bold">Domingo</ion-item-divider>
                <p><span class="rojitas">Comida :&nbsp;</span>Te o leche, jugos/zumos de/o frutas, huevos, pan o tostadas, mermelada o mantequilla</p>
                <p><span class="rojitas">Cena : &nbsp;</span>Incluye café, te o leche, jugo o frutas, pan o tostadas, mermelada o mantequilla</p>
    </ion-item-group>

    <button ion-button color="botones" class='but' (click)="confirmaMenu()" round>Confirmar menú</button>
</ion-content>
