page-menu-describido {
    *{
        margin:0px;
        padding:0px;
    }
    
    //CABEZERA
    
     .contiene img{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:5px;
       padding-bottom: 5px;
      }
    
    .chat{
       color:grey;
       font-size: 30px;
    
    }
    
    .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
        
     }
     //FIN DE LA CABEZERA

     // FLECHA RETROCESO
    .flecha{ 
      color :red;
      font-size: 30px;
    
     }
    //-----FIN DE LA FLECHA


    .titulo{
        background: #D01B1B;
        color:white;
        font-size: 20px;
        margin:10px auto;
        width: 50%;
        padding: 2px;
        border: 1px solid rgba(0,0,0,.25);
        border-radius: 50px 50px 50px 50px;
        box-shadow: 0px 3px rgba(0,0,0,.50);
    }

    //TEXTO COMIDA Y CENA EN ROJO
    .rojitas{
       color:red;
    }

    //BOTON DE CONFIRMAR
    .but{
        margin:12px 70px;
        height: 30px;
        width: 50%;
    }
}
