<ion-header text-center  padding-top>
    <ion-toolbar>
       <div class="contiene">
          <div class="circular">
              <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
          </div>
          <span  style="padding-left:48px;padding-right:48px;font-size: 20px;">
           Centro  ACU 10 </span>
         <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
       </div>
    </ion-toolbar>
</ion-header>

<ion-content padding >
<h1 text-center style="color:red;font-weight:bold;">DIARIO DIETETICO</h1>
<button ion-button  class='but' (click)="dias()" round>DIAS</button>
<ion-grid>
    <ion-row margin-bottom >
         <ion-col col-12>
             <div   class="subtilos" > DESAYUNO </div>
         </ion-col>
         <ion-col col-12>
            + Agrega  Alimento
        </ion-col>
     </ion-row>
     <ion-row  margin-bottom>
        <ion-col col-12>
            <div   class="subtilos" > COMIDAS</div>
        </ion-col>
        <ion-col col-12 >
           + Agrega  Alimento
       </ion-col>
    </ion-row>
    <ion-row margin-bottom>
        <ion-col col-12>
            <div  class="subtilos" >CENA </div>
        </ion-col>
        <ion-col col-12>
           + Agrega  Alimento
       </ion-col>
    </ion-row>
 </ion-grid>
</ion-content>
