page-cliente-diario-dietetico {
    *{
        margin:0px;
        padding:0px;
    }
    //CABEZERA
   
   .circular {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50% ;
    display: inline-flex;
}

.circular img{
   width: 100%;
   height: 100%;
   border:2px solid black;
}

    .chat{
       color:grey;
       font-size: 30px;
    

    }

   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;

     } // FIN DE CABECERA

     //cliente-diario-dietetico.html 
     .but{
         border:1px solid grey;
         margin:20px 20px;
         height: 40px;
         width: 85%;
         box-shadow: 1px 2px rgba(0,0,0,.50);
         background: white;
         color:grey;
       
     }
     .subtilos{
        border:1px solid grey;
        background:red;
        color:white;
        padding-top: 5px;
        margin:0px auto;
        height: 25px;
        width: 75%;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 1px 2px rgba(0,0,0,.50);
      
        
     }

}
