<ion-header text-center  padding-top>
            <ion-toolbar>
            <div class="contiene">
                <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
                <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
                 &nbsp;&nbsp;Centro ACU 10
                </span>
               <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
            </div>
            </ion-toolbar>
  </ion-header>
        
  <ion-content padding  text-center>
            <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha" ></ion-icon>
      <div  style="text-align: center;"><img src="./../../assets/imgs/logo.JPG" alt=""></div>
      <ion-grid margin-top>
        <ion-row margin-top>
           <ion-col>
                 <button ion-button  (click)="iraMenu()" class="bot bot_menu"> </button>
           </ion-col>
           <ion-col>
                 <button ion-button  (click)="irMenuproteina()" class="bot bot_menuproteinas"> </button>
           </ion-col>
        </ion-row>
        <ion-row margin-top>
              <ion-col>
                    <button ion-button  (click)="irMenucena()" class="bot bot_menucena"> </button>
              </ion-col>
              <ion-col>
                    <button ion-button  (click)="irDietactual()" class="bot bot_dietactual"> </button>
              </ion-col>
           </ion-row>
     
      </ion-grid>
  </ion-content>
  
