page-diario-nueva-dieta {

   
   *{
      margin:0px;
      padding:0px;
  }
  
  //CABEZERA
  
   .contiene img{
     font-size: 30px;
     position:absolute;
     bottom: 1px;
     left:5px;
     padding-bottom: 5px;
    }
  
  .chat{
     color:grey;
     font-size: 30px;
  
  }
  
  .contiene{
         padding-top: 5px;
         padding-bottom: -10px;
         height: 35px;
     
   }
   //FIN DE LA CABEZERA
   // FLECHA RETROCESO
   .flecha{
      color :red;
      font-size: 30px;
     position: absolute;
     top:1px;
     left:10px;

     }
  //-----FIN DE LA FLECHA

     //BOTONES
     .bot{
        
        width: 100px;
         height: 120px;
        background:red;
        background-size: cover;
        
     }

    .bot_menu{
       background-image: url("../../assets/imgs/bot_cliente_seguimiento/menu.png");
    }
    
    .bot_menuproteinas{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menuproteinas.png");
     }
     
    .bot_menucena{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menucenas.png");
     }
     
    .bot_dietactual{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/nuevadieta.png");
     }
}
