page-cliente-ejercicio {

    *{
        color:grey;
    }
    //CABEZERA
   
   .circular {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50% ;
    display: inline-flex;
}

.circular img{
   width: 100%;
   height: 100%;
   border:2px solid black;
}

    .chat{
       color:grey;
       font-size: 30px;
    

    }

   .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;

     } // FIN DE CABECERA

   .titulos{
       font-weight: bold;
     
       padding: 20px;
   }
   .subti{
    
    border-right:0.5px solid grey ;
    height:40px;
    padding-top: 9px;

  
    color:red;
   }
   
}
