<ion-header text-center  padding-top>
    <ion-toolbar>
       <div class="contiene">
          <div class="circular">
              <img   class="circular" src="./../../assets/imgs/foto_cliente.jpg" >
          </div>
          <span  style="padding-left:48px;padding-right:48px;font-size: 20px;">
           Centro  ACU 10 </span>
         <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
       </div>
    </ion-toolbar>
</ion-header>

<ion-content padding>
 
    <ion-grid padding-top>
        <ion-row class="titulos"  text-center>
           <ion-col col-4 >  
             <div  class="subti" >  Ejercicio  </div>
             </ion-col>
           <ion-col col-4 >
              <div class="subti" >  Tiempo </div>
             </ion-col>
            <ion-col col-4><div style="padding-top: 9px; color:red;">   Dias  </div>
            </ion-col>
      </ion-row>
      <ion-row  text-center style="border-bottom:1px solid grey;">
          <ion-col col-4 style="padding-top:25px;">  
              <img   class="circular" src="./../../assets/imgs/ejercicios/yoga.png" >
            </ion-col>
          <ion-col col-4 style="padding-top:25px;">
              60 min
            </ion-col>
            <ion-col col-4><div > Lunes<br>Martes<br>Miercoles  </div>
            </ion-col>
      </ion-row>
      <ion-row  text-center style="border-bottom:1px solid grey;">
          <ion-col col-4 style="padding-top:25px;">  
              <img   class="circular" src="./../../assets/imgs/ejercicios/estiramiento.png" >
            </ion-col>
          <ion-col col-4 style="padding-top:25px;">
              90 min
            </ion-col>
            <ion-col col-4><div > Lunes<br>Viernes<br>Sabado </div>
            </ion-col>
      </ion-row>
      <ion-row  text-center style="border-bottom:1px solid grey;">
          <ion-col col-4 style="padding-top:25px;">  
              <img   class="circular" src="./../../assets/imgs/ejercicios/pesas.png" >
            </ion-col>
          <ion-col col-4 style="padding-top:25px;">
              150 min
            </ion-col>
            <ion-col col-4><div > Martes<br>jueves<br>Domingo </div>
            </ion-col>
      </ion-row>
   
    </ion-grid>
</ion-content>
<ion-footer padding>
     <span style="font-weight: bold;" >Distancia Recorrida</span>
      <span style="margin-left:80px;">2.1 km</span>
      <ion-icon name="walk" ></ion-icon>
</ion-footer>
