page-mipeso {
    *{
        margin:0px;
        padding:0px;
    }
    
    //CABEZERA
    
     .contiene img{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:5px;
       padding-bottom: 5px;
      }
    
    .chat{
       color:grey;
       font-size: 30px;
    
    }
    
    .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
        
     }
     //FIN DE LA CABEZERA

     // FLECHA RETROCESO
    .flecha{ 
      color :red;
      font-size: 30px;
    
     }
    //-----FIN DE LA FLECHA

     // CAJA DE TEXTO
     .cajatexto{
       // text-align: center;
        outline: none;
        margin: 0 auto;
        height: 30px;
        padding-bottom: 8px;
       
       border: 1px solid rgba(0,0,0,.25);
       border-radius: 10px 10px 10px 10px;
      box-shadow: 0px 2px rgba(0,0,0,.50);
    }
    
    .input_texto{
     
     padding-left:14px;
       height: 20PX;
       font-size: 15px;
       text-align: right;
    }
    .kg{
        position: absolute;
        right:80px;
        font-weight: bold;
        bottom: 10px;
    }






     //BOTON DE ACEPTAR PESO
     .but{
        
        text-decoration: none;
       width:100px;
       height:30px;
       
        color: #ffffff;
       /* background-color:#9c3535;pondre color en theme/variables.css*/
        border-radius: 62px 66px 62px 78px;
        box-shadow: 0px 4px rgba(0,0,0,.30);
      }

      //CAJA DE DIAGRAMA
      .caja_objetivo{
   background:grey; 
     height: 200px;
      }
      .abre_peso{
          font-size: 30px;
          color:red;
          position: absolute;
          right: 13px;
          top: 10px;
      }

   .titu_pesos{
    display: inline-flex;
    font-size: 11px;
    margin-right: 30px;
    margin-left: 12px;
    margin-top: 130px;
   
   }
      .cajitasPeso{
           display: inline-flex;
           margin-top: 5px;
        
           padding: 4px;
          border: 2px solid red;
          
         border-radius: 5px 5px 5px 5px;
      }

    

      // PIE DE PAGINA

      .final span{
          font-size: 12px;
          margin-right: 95px;
      }

}
