<ion-header text-center  padding-top>
    <ion-toolbar>
      <div class="contiene">
            <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
            <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
             &nbsp;&nbsp;Centro ACU 10
            </span>
           <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
      </div>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
    <ion-grid>
            <ion-row text-center >
                 <ion-col col-12>
                      <h4>MI PESO</h4> 
                 </ion-col>
                 <ion-col col-12 >
                      <ion-icon  ios="ios-arrow-up" md="md-arrow-up" (click)="suma()" style="color:red;" ></ion-icon>
                 </ion-col>
                 <ion-col col-12 >
                      <div class="cajatexto" style="width:24%;">
                     <ion-input type="text"  [(ngModel)]="peso"  class="input_texto" ></ion-input>
                     </div>
                     <span class="kg">KG</span> 
                 </ion-col>
                 <ion-col col-12 >
                    <ion-icon ios="ios-arrow-down" md="md-arrow-down"  (click)="resta()" style="color:red;" ></ion-icon>
                 </ion-col>
            </ion-row>
            <ion-row text-center>
                <ion-col>
                  <button ion-button color="botones" class="but" (click)="aceptaPeso()" round>Aceptar</button>
                </ion-col>
           </ion-row>
           <ion-row>
                <ion-col col-12 >
                     <div class="caja_objetivo">
                         <ion-icon ios="ios-add-circle" md="md-add-circle" (click)="abrepeso()" class='abre_peso'></ion-icon>
                         <p style="padding-left:30px;">Peso objetivo</p>
                         <div class="titu_pesos">Peso de Consulta</div><div class="titu_pesos">Peso de usuario</div>
                         <div class="cajitasPeso" style=" margin-left: 20px;">peso c</div>     
                         <div  class="cajitasPeso" style=" margin-left: 75px;">peso u</div>
                     </div> 
                </ion-col>
            </ion-row>
            <ion-row  class="final">
                   <ion-col col-12 >
                       <span>Distancia recorrida</span>
                       <span> 2,1 km
                           <ion-icon ios="ios-walk" md="md-walk" style="font-size:18px;"></ion-icon>  
                      </span>
                  </ion-col>
            </ion-row>
    </ion-grid>
 </ion-content>
