<style>
    .contenedor{
      padding: 12px;
    }
    .cierra{
     color:red;
    margin-left:190px;
    font-size:20px;
    
    }
    .cajaPeso{
        margin-left:20px ;
        bottom: 3px;
         border: 1px solid grey;
         padding: 5px;
         position: absolute;
    }

  .fech_peso{
      font-size: 12px;
  }
 
</style>

<ion-header text-center  padding-top>
</ion-header>

<ion-content class="contenedor" >
     <ion-icon    name="close-circle" class="cierra" (click)="cierra()"></ion-icon>
     <ion-grid>
        <ion-row style="border-bottom: 1px solid grey">
            <ion-col padding-left><b>Peso Actual</b> <span  class="cajaPeso"> 72 Kg</span></ion-col>
        </ion-row>
        <ion-row padding-top text-center>
           <ion-col col-6>
               <span style="font-weight:bold;" >Fecha</span> 
            </ion-col>
            <ion-col col-6>
               <span style="font-weight:bold;">Peso</span> 
            </ion-col>
        </ion-row>
        <ion-row class="fech_peso" text-center>
                <ion-col col-6 >
                    <span >12/09/2018</span> 
                 </ion-col>
                 <ion-col col-6>
                    <span >99 Kg</span> 
                 </ion-col>
                 <ion-col col-6 >
                        <span >10/10/2018</span> 
                  </ion-col>
                  <ion-col col-6>
                        <span >70 Kg</span> 
                  </ion-col>
                  <ion-col col-6>
                        <span >10/10/2019</span> 
                  </ion-col>
                  <ion-col col-6>
                        <span >50 Kg</span> 
                  </ion-col>
         </ion-row>
    </ion-grid>
   
</ion-content>