<ion-header text-center  padding-top>
    <ion-toolbar>
      <div class="contiene">
            <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
            <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
             &nbsp;&nbsp;Centro ACU 10
            </span>
           <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
      </div>
    </ion-toolbar>
</ion-header>

<ion-content padding>
   <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon>
   <h3 >Elige  tu  menu</h3>
   <ion-grid text-center padding>   
     <ion-row >
       <ion-col col-4>
          <button ion-button  (click)="sacarMenu()" class="bot bot_menu1">
            </button>
       </ion-col>
       <ion-col col-4>
          <button ion-button  (click)="sacarMenu()" class="bot bot_menu2">
          </button>
       </ion-col>
       <ion-col col-4>
          <button ion-button  (click)="sacarMenu()" class="bot bot_menu3"> </button>
       </ion-col>
     </ion-row>
       <!-- siguientes botones  -->
     <ion-row>
        <ion-col col-4>
            <button ion-button  (click)="sacarMenu()" class="bot bot_menu4">  </button>
        </ion-col>
        <ion-col col-4>
            <button ion-button  (click)="sacarMenu()" class="bot bot_menu5">  </button>
        </ion-col>
        <ion-col col-4>
            <button ion-button  (click)="sacarMenu()" class="bot bot_menu6">  </button>
        </ion-col>
     </ion-row>
       <!-- siguientes botones  -->
     <ion-row>
          <ion-col col-4>
              <button ion-button  (click)="sacarMenu()" class="bot bot_menu7">  </button>
          </ion-col>
          <ion-col col-4>
              <button ion-button  (click)="sacarMenu()" class="bot bot_menu8">  </button>
          </ion-col>
          <ion-col col-4>
              <button ion-button  (click)="sacarMenu()" class="bot bot_menu9">  </button>
          </ion-col>
     </ion-row>
         <!-- siguientes botones  -->
     <ion-row>
          <ion-col col-4>
              <button ion-button  (click)="sacarMenu()" class="bot bot_menu10">  </button>
          </ion-col>
          <ion-col col-4>
              <button ion-button  (click)="sacarMenu()" class="bot bot_menu11">  </button>
          </ion-col>
          <ion-col col-4>
              <button ion-button  (click)="sacarMenu()" class="bot bot_menu12">  </button>
          </ion-col>
       </ion-row>

    </ion-grid>
 
</ion-content>
