page-nuevadieta-menu {

   *{
      margin:0px;
      padding:0px;
  }
  
  //CABEZERA
  
   .contiene img{
     font-size: 30px;
     position:absolute;
     bottom: 1px;
     left:5px;
     padding-bottom: 5px;
    }
  
  .chat{
     color:grey;
     font-size: 30px;
  
  }
  
  .contiene{
         padding-top: 5px;
         padding-bottom: -10px;
         height: 35px;
      
   }
   //FIN DE LA CABEZERA

   // FLECHA RETROCESO
  .flecha{ 
    color :red;
    font-size: 30px;
    margin-bottom:10px;
  
   }
  //-----FIN DE LA FLECHA
        h3{
         left:80px;
         top:30px;
         font-style: italic;
         color:red;
         font-weight: bolder;
         position: absolute;
      
        }
  
     .bot{
      
        width: 60px;
         height: 80px;
        background:red;
        
     }

    .bot_menu1{
       background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
       background-size: cover;
    }
    .bot_menu2{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu3{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu4{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu5{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu6{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu7{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu8{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu9{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu10{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu11{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }
     .bot_menu12{
        background-image: url("../../assets/imgs/bot_cliente_seguimiento/menusmix.png");
        background-size: cover;
     }




}
