page-miejercicios {
    *{
        margin:0px;
        padding:0px;
    }
    
    //CABEZERA
    
     .contiene img{
       font-size: 30px;
       position:absolute;
       bottom: 1px;
       left:5px;
       padding-bottom: 5px;
      }
    
    .chat{
       color:grey;
       font-size: 30px;
    
    }
    
    .contiene{
           padding-top: 5px;
           padding-bottom: -10px;
           height: 35px;
       
     }
     //FIN DE LA CABEZERA
     // FLECHA RETROCESO
    .flecha{
      color :red;
      font-size: 30px;
     position: absolute;
     top:9px;
     left:10px;

     }
    //-----FIN DE LA FLECHA

      //BOTON EJERCICIO
     .but{
         margin-top:50px;
         height: 30px;
         width: 85%;
     }
      .caja{
          background-color: #CC2020 ;
          width: 70%;
         
          color:white;
          margin:10px auto;
          padding: 5px;

           border:1px solid grey;
           border-radius: 62px 66px 62px 78px;
           padding-bottom: 9px;

      }
      .agre_dia_hora{
        font-size:25px;
        position: absolute;
        left: 65px;
       
        
      }
      
      .quita_ejer{
        font-size:25px;
        position: absolute;
        right:65px;
       }
    
}
