<ion-header text-center  padding-top>
        <ion-toolbar>
        <div class="contiene">
            <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
            <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
             &nbsp;&nbsp;Centro ACU 10
            </span>
           <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
        </div>
        </ion-toolbar>
 </ion-header>

<ion-content padding text-center>
    <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha"></ion-icon> 
    <button ion-button color="botones" class='but' (click)="ejercicios()" round>EJERCICIOS</button>
    <div margin style="text-align: center;"><img src="./../../assets/imgs/logo.JPG" alt=""></div> 
    <div *ngIf='seleccionado'>
         <div class='caja' *ngFor="let ejercicio of ejerciciosMarcados" >
         <ion-icon   name="add-circle" class='agre_dia_hora' (click)='agre_dia_hora($event,ejercicio)'></ion-icon>
                    {{ejercicio}} 
          <ion-icon  text-right ios="ios-close-circle" md="md-close-circle" class='quita_ejer' (click)='quitar_eje(ejercicio)'></ion-icon>
         
     </div>

     </div>
    
     <button ion-button color="botones"  style="width:50%;"class='but' (click)="confirma()" round>Aceptar</button>

</ion-content>
