page-segui-diario-dietas {
 
   *{
      margin:0px;
      padding:0px;
  }
  
  //CABEZERA
  
   .contiene img{
     font-size: 30px;
     position:absolute;
     bottom: 1px;
     left:5px;
     padding-bottom: 5px;
    }
  
  .chat{
     color:grey;
     font-size: 30px;
  
  }
  
  .contiene{
         padding-top: 5px;
         padding-bottom: -10px;
         height: 35px;
     
   }
   //FIN DE LA CABEZERA
   // FLECHA RETROCESO
   .flecha{
      color :red;
      font-size: 30px;
     position: absolute;
     top:1px;
     left:10px;

     }
  //-----FIN DE LA FLECHA

    //BOTONES
    .bot{
        
        width: 100px;
         height: 120px;
        background:red;
        background-size: cover;
        
     }

    .bot_history{
       background-image: url("../../assetS/imgs/bot_cliente_seguimiento/historico.png");
    }
    .bot_dieta{
        background-image: url("../../assetS/imgs/bot_cliente_seguimiento/nuevadieta.png");
     }
   //FIN DE BOTONES
}
