<ion-header text-center  padding-top>
      <ion-toolbar>
      <div class="contiene">
          <img width="40" height="40" src="./../../assets/imgs/logo.JPG">
          <span text-center style="padding-left:48px;padding-right:48px;font-size: 20px;">
           &nbsp;&nbsp;Centro ACU 10
          </span>
          <ion-icon name="chatboxes-outline" name="chatboxes" class="chat" ></ion-icon>
      </div>
      </ion-toolbar>
</ion-header>
  
  <ion-content padding margin-top text-center>
     <ion-icon name="arrow-dropleft-circle-outline" (click)="regresa()" name="arrow-dropleft-circle" class="flecha" ></ion-icon>
     <h4  padding>DIARIO DE DIETAS</h4>
     <ion-grid >
         <ion-row >
             <ion-col col-12>
                <div  style="text-align: center;"><img src="./../../assets/imgs/logo.JPG" alt=""></div>
             </ion-col>
        </ion-row>  
        <ion-row  margin-top>
            <ion-col>
                <button ion-button  (click)="alerthistorico()" class="bot bot_history"> </button>
            </ion-col>
            <ion-col>
               <button ion-button  (click)="irNuevadieta()" class="bot bot_dieta"> </button>
            </ion-col>
        </ion-row> 
      </ion-grid>
  </ion-content>